/**
 * @file
 * System admin module: modules page.
 */

:root {
  --module-table-cell-padding-vertical: var(--space-m);
  --module-table-cell-padding-horizontal: calc(var(--space-m) - (var(--input-border-size) * 2));
  --module-table-filter-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modules-table-filter,
.permissions-table-filter {
  padding: 0.25rem var(--space-l);
  border: 1px solid var(--color-gray-200);
  border-radius: 2px 2px 0 0;
  box-shadow: var(--module-table-filter-box-shadow);

  & .form-item__description {
    /* Visually hide the module filter input description. */
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }
}

.claro-details {
  &.claro-details--package-listing,
  &.module-list__module-details {
    margin-block: 2rem 0;
    border: none;
    box-shadow: none;
  }
  & .tableresponsive-toggle {
    padding: var(--space-m) var(--space-m) var(--space-m) 0;
    &::before {
      /* This adjustment is necessary for better alignment with the adjacent button
       text. */
      position: relative;
      inset-block-start: -1px;
      display: inline-block;
      width: calc(var(--space-m) * 2);
      height: 1.25rem;
      content: "";
      cursor: pointer;
      vertical-align: text-top;
      background: url(../../images/icons/545560/plus.svg) no-repeat center;
      background-size: contain;
    }
    &:hover {
      color: var(--color-absolutezero-hover);
      background-color: var(--color-bgblue-hover);
      &::before {
        background-image: url(../../images/icons/0036b1/plus.svg);
      }
    }
  }
  & .tableresponsive-toggle-columns {
    & button {
      margin-block-start: var(--space-xs);
      text-decoration: none;
      color: var(--color-gray-800);
      font-weight: bold;
    }
  }
  & .admin-missing {
    color: var(--color-maximumred);
  }
  &.module-list__module-details {
    margin: 0;
  }
}

.claro-details__wrapper {
  &.claro-details__wrapper--package-listing {
    margin: 0;
  }
  &.module-details__wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.claro-details__summary {
  &.claro-details__summary--package-listing {
    color: var(--color-text);
    border-radius: 4px;
    background: var(--color-gray-050);
    font-size: var(--font-size-h6); /* 18px */
    line-height: 1.424rem; /* 23px */
  }
  &.module-list__module-summary {
    padding-block: var(--module-table-cell-padding-vertical);
    font-weight: normal;
    line-height: var(--details-line-height);
  }
  &.module-list__module-summary::before {
    inset-block-start: calc(var(--space-m) + var(--space-s));
  }
}

.module-list {
  margin-block-start: 0;
}

.module-list__module {
  color: var(--color-text);
  border-bottom: 1px solid var(--color-gray-200);
  background: none;
  &:hover {
    background: none;
  }
  & td {
    height: auto;
    padding: var(--module-table-cell-padding-vertical) var(--module-table-cell-padding-horizontal);
    vertical-align: top;
  }
}

/* Set width only on wider view where description is visible by default. */
@media screen and (min-width: 60em) {
  .module-list__module {
    width: 25%;
  }
}

.module-list__module-name {
  font-weight: bold;
}

.module-list__checkbox {
  padding-inline-start: 0.6875rem;
  text-align: left; /* LTR */

  & .form-type--checkbox {
    margin: 0;
    line-height: var(--details-line-height);
  }

  & .form-checkbox:not([disabled]) {
    cursor: pointer;
  }
}

td {
  &.module-list__checkbox {
    width: 4%;
  }
  &.module-list__description {
    padding-block: 0;
    padding-inline-end: 0;
  }
}

.module-details__description {
  font-size: var(--space-s);
  line-height: 0.9375rem;
}

.module-details__requirements {
  margin-bottom: var(--space-m);
}

.module-details__links {
  position: relative;
  /* Negative margin matches the value of action link's top padding. */
  margin-block: calc((var(--space-s) - ((var(--space-l) - var(--space-s)) / 2)) * -1) var(--space-m);

  & .action-link + .action-link {
    margin-inline-start: 0;
  }
}
