/**
 * @file
 * Stylesheet for the language switcher block.
 */

.umami-language-switcher__content {
  position: relative;
}

.js .umami-language-switcher .links {
  position: absolute;
  z-index: 1000;
  width: 100%;
  padding: 1rem;
  border: 1px solid #008068;
  border-top: 0;
  background: #fffe;
}

.umami-language-switcher .links > li {
  margin-inline-start: 1rem;
}

.language-link,
.language-link:hover,
.language-link:focus {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}
.language-link:hover,
.language-link:focus {
  text-decoration: underline;
}
.language-link.is-active {
  font-weight: 700;
}
