/**
 * @file
 * Comment section and individual comments.
 */

@import "../base/media-queries.pcss.css";

.comments__title {
  display: flex;
  align-items: center;
  margin-block-start: 0;
}

.comments__count {
  position: relative;
  display: inline-block;
  min-width: 34px;
  margin-block-start: 0;
  margin-block-end: var(--sp0-5);
  margin-inline-start: var(--sp);
  margin-inline-end: var(--sp);
  padding-block: 0;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  text-align: center;
  color: var(--color--white);
  border-radius: 2px;
  background-color: var(--color--primary-40);
  font-size: 11px;
  line-height: 21px;

  &::after {
    position: absolute;
    inset-block-end: -7px;
    inset-inline-start: 8px;
    width: 0;
    height: 0;
    content: "";
    border-block-start: 7px solid var(--color--primary-40);
    border-inline-end: 8px solid transparent;
  }
}

.comment-form {
  padding-block-end: var(--sp2);
}

.add-comment__form {
  padding-inline-start: 0;
}

.add-comment__picture-wrapper {
  inset-block-start: calc(var(--line-height-base) + var(--sp0-5));
}

.add-comment__picture {
  position: absolute;
  inset-inline-start: 0;
  overflow: hidden;
  width: var(--sp2);
  height: var(--sp2);
  border-radius: 50%;
  background-color: var(--color--gray-95);

  & *:not(img) {
    display: inherit;
    width: inherit;
    height: inherit;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* @TODO: create image-style for profile's avatar to have image squared by default. */
    @media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      position: absolute;
      /* stylelint-disable csstools/use-logical */
      top: 50%;
      left: 50%;
      /* stylelint-enable csstools/use-logical */
      width: 100%;
      height: auto;
      transform: translate(-50%, -50%);
    }
  }

  @media (--grid-md) {
    inset-inline-start: calc(-1 * var(--sp5));
    width: var(--sp3);
    height: var(--sp3);
  }
}
