/**
 * @file
 * Styling for the Workspaces navigation item.
 */

/* Custom properties specifically for Workspaces when Navigation is enabled. */
[data-drupal-admin-styles] {
  --admin-toolbar-indicator-live: #87cc5f;
}

.toolbar-button--workspaces {
  color: var(--admin-toolbar-color-gray-990);
  background-color: var(--admin-toolbar-color-orange-300);

  &:hover,
  &:focus,
  &:hover:focus,
  &.current {
    background-color: var(--admin-toolbar-color-orange-300);
  }
}

.toolbar-button--workspaces--live {
  color: var(--admin-toolbar-color-gray-990);
  background-color: var(--admin-toolbar-indicator-live);

  &:hover,
  &:focus,
  &:hover:focus,
  &.current {
    background-color: var(--admin-toolbar-indicator-live);
  }
}
