/**
 * @file
 * Styles for views.
 */

@import "../base/media-queries.pcss.css";

.view,
.view-content {
  display: grid;
  gap: var(--sp2);
  grid-template-rows: max-content;

  .views-exposed-form {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media (--md) {
    gap: var(--sp3);
  }
}
